Repository q9f/eth.rb, pull requests merged in 2023-02, with the labels that each got.

#214 deps: update secp256k1 to 6
  eth.gemspec
Labels: dependencies

#215 Manual default_account
  lib/eth/client.rb
Labels: bug

#218 eth/abi: add abicoder gem tests collection
  spec/eth/abi_spec.rb
  spec/eth/ens/resolver_spec.rb
Labels: spec-tests

#219 ens/resolver: remove pending for etc coin type
  spec/eth/ens/resolver_spec.rb
Labels: spec-tests
